{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

<!-- Business news source section  -->
<h3> Business News_Source</h3>
         
<ul>
    {{ macro.displayNewsSourcesList(business)}}
</ul>

<!-- Entertainment newsSource  -->
<h3> Entertainment Source </h3>
<ul>
    {{ macro.displayNewsSourcesList(entertainment)}}
</ul>
<!-- General newsSource -->
<h3>General Source</h3>
<ul>
    {{ macro.displayNewsSourcesList(general)}}
</ul>


{% endblock%}