<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Review website </title>
        {% endif %}
    </head>
    
    {% import 'macros.html' as macro%}

    <body>
        <!-- Popular news source section  -->
        <h3> Popular News_Source</h3>
         
        <ul>
            {% for popular_newsSource in popular %}
                <li>{{ popular_newsSource.title}}</li>
            {% endfor %}
        </ul>

        <!-- Upcoming newsSource  -->
        <h3> Upcoming Source </h3>
        <ul>
            {% for upcoming_newsSource in upcoming %}
                <li>{{ upcoming_newsSource.title}}</li>
            {% endfor %}
        </ul>
        <!-- Now showing newsSource -->
        <h3>Now Showing Source</h3>
        <ul>
            {% for now_showing_newsSource in now_showing %}
                <li>{{ now_showing_newsSource.title}}</li>
            {% endfor %}
        </ul>

        <!-- Popular news articles section  -->
        <h3> Popular News_Articles</h3>

        <ul>
            {% for popular_newsArticles in popular %}
                <li>{{ popular_newsArticles.title}}</li>
            {% endfor %}
        </ul>

        <!-- Upcoming newsArticles  -->
        <h3> Upcoming Articles </h3>
        <ul>
            {% for upcoming_newsArticles in upcoming %}
                <li>{{ upcoming_newsArticles.title}}</li>
            {% endfor %}
        </ul>
        <!-- Now showing newsArticles -->
        <h3>Now Showing Articles</h3>
        <ul>
            {% for now_showing_newsArticles in now_showing %}
                <li>{{ now_showing_newsArticles.title}}</li>
            {% endfor %}
        </ul>

        

    </body>
</html>