{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

<!-- Popular news source section  -->
<h3> Popular News_Source</h3>
         
<ul>
    {{ macro.displayNewsSourcesList(popular)}}
</ul>

<!-- Upcoming newsSource  -->
<h3> Upcoming Source </h3>
<ul>
    {{ macro.displayNewsSourcesList(upcoming)}}
</ul>
<!-- Now showing newsSource -->
<h3>Now Showing Source</h3>
<ul>
    {{ macro.displayNewsSourcesList(now_showing)}}
</ul>

<!-- Popular news articles section  -->
<h3> Popular News_Articles</h3>

<ul>
    {{ macro.displayNewsArticleList(popular)}}
</ul>

<!-- Upcoming newsArticles  -->
<h3> Upcoming Articles </h3>
<ul>
{{ macro.displayNewsArticleList(upcoming)}}
</ul>
<!-- Now showing newsArticles -->
<h3>Now Showing Articles</h3>
<ul>
    {{ macro.displayNewsArticleList(now_showing)}}
</ul>

{% endblock%}