{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">
        {% for newsArticle in newsSources %}
    <!-- urlToImage background -->
    <div class="row">
            
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 urlToImage" >
        <img src="{{newsArticle.urlToImage}}" width="350" height="200" style="margin-top: 20px">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 newsArticle-details">
            <h3>{{ newsArticle.title }}</h3>

            <p class="author"> {{ newsArticle.author }}</p>

            <p class="details"> <b> {{ newsArticle.description }}</b> - <i>{{ newsArticle.publishedAt}} votes </i> </p>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}